{% unless grid_width_large %}
  {% assign grid_width_large = 'large--one-quarter' %}
{% endunless %}
{% unless grid_width_medium %}
  {% assign grid_width_medium = 'medium--one-third' %}
{% endunless %}
{% unless grid_width_small %}
  {% assign grid_width_small = 'small--one-half' %}
{% endunless %}

{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available  %}
  {% assign sold_out = false %}
{% endif %}



<div class="grid__item {{ grid_width_small }} {{ grid_width_medium }} {{ grid_width_large }}{% if on_sale %} on-sale{% endif %}  {% if sold_out %} sold-out {% endif %} product-grid-item">
  <a href="{{ product.url | within: collection }}" class="grid__image">
    <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
  </a>
  <div class="figcaption {{ settings.product_grid_style }}">
    <a href="{{ product.url | within: collection | capitalize }}">
      
        {% if sold_out %}
        <span id="outofstock">Out Of Stock</span>
        <p class="h6 name_wrapper strikethrough">
          {{ product.title }}
        </p>
        <p class="price_wrapper strikethrough">
          <span class="price">
            {% if product.price_varies %}{{ 'products.general.from' | t }} {% endif %}
            <span class="money">{{ product.price | money }}</span>
          </span>
          
          <br />
          {% elsif on_sale%}
          <p class="h6 name_wrapper ">
            {{ product.title }}
          </p>
               <p class="price_wrapper ">
                <span class="compare-at">
                <span class="money">{{ product.compare_at_price | money }}</span>
              </span>
                <span class="price sale-price">
                  <span class="money">{{ product.price | money }}</span>
                </span>
              
              </p>
          {% else %}
          <p class="h6 name_wrapper ">
            {{ product.title }}
          </p>
          <p class="price_wrapper ">
            <span class="price">
              <span class="money">{{ product.price | money }}</span>
            </span>
         </p>
        {% endif %}
        {% if on_sale %}
        
        {% endif %}
        {% if product.metafields.spr.reviews %}
          <br />
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        {% endif %}
     
    </a>

     {% if sold_out %}
      <div class="notify">Notify Me</div>
      <div class="theVars">
        <span class="theProdId">
          {{product.id}}
        </span>
        <span class="variantId">
          {{product.variants.first.id}}
        </span>
      </div>
      {% endif %}
  </div> <!-- end fig cap -->


    
      <form action="/cart/add" method="post" value="{{product.id}}" class="thecurrentform">
          {% if product.variants.size > 1 %}
            {% if product.options[0] %}
              {% assign used = '' %}
              <label for="select-one">{{ product.options[0] }}</label>
              <select id='select-one' class="size" onchange="letsDoThis()">
                <option> color</option>
                {% for variant in product.variants %}
                  {% unless used contains variant.option1 %}
                    <option value="{{ variant.option1 }}">{{ variant.option1 }}
                    
                    </option>
                    {% capture used %}{{ used }} {{ variant.option1 }}{% endcapture %}
                  {% endunless %}
                {% endfor %}
              </select>
            {% endif %}
            {% if product.options[1] %}
              {% assign used = '' %}
              <label for="select-one">{{ product.options[1] }}</label>
              <select id='select-two' class="color" onchange="letsDoThis()">
                 <option> Size</option>
                {% for variant in product.variants %}
                  {% unless used contains variant.option2 %}
                    <option value="{{ variant.option2 }}">{{ variant.option2 }}</option>
                    
                    {% capture used %}{{ used }} {{ variant.option2 }}{% endcapture %}
                  {% endunless %}
                {% endfor %}
              </select>
            {% endif %}
          
          {% endif %}
          <input type="hidden"name="id" id="product-select" value="{{ product.variants.first.id }}" />        
        </form>

      {% for variant in product.variants limit:1%}

                <div class="theVars">
                  <div class="theSizeVar"></div>
                  <div class="theColorVar"></div>
                </div>
                {% if variant.available %}
                <button class="AjaxCart" >Add To Cart</button>
                <button class="clickMe">Hello</button>

                {% else %}
                  <button class="AjaxCartSoldOut" >Sold Out</button>
                {% endif %}
         {% endfor %}
       
    

      <div class="theProduct">

         {% for variant in product.variants limit:1%}


                {% if variant.available %}
                  {{ variant.id }}

                {% else %}
                
                {% endif %}
         {% endfor %}

      </div>
 
</div><!-- end grid item cap -->


<script>


  function letsDoThis() {
    {% if product.options[0] %}var opt1 = $('.size').value;{% endif %}
    {% if product.options[1] %}var opt2 = $('.color').value;{% endif %}
  
    var id = '';
    {% for v in product.variants %}

    if(opt1=="{{ v.option1 }}"{% if product.options[1] %} && opt2=="{{ v.option2 }}"{% endif %}) {

        var id = {{ v.id }};
        var price = "{{ v.price | money }}";
      }
    {% endfor %}
    if(id!='') {
      console.log( {{ v.id }});
      document.getElementById('product-select').value = id;
    
    } else {
      document.getElementById('product-select').value = '';
     
    }
    
  }

[';']
  // when the user clicks on  a new selector update the word current
  // grab the word current for a certain product and enter it in the function

</script>


