<!-- /snippets/product.liquid -->

<div itemscope itemtype="http://schema.org/Product" class="product-page">
  <div class="wrapper">

    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
    <meta itemprop="price" content="{{ product.price | money }}">

    {% if settings.product_breadcrumbs %}
      {% include 'breadcrumb' %}
    {% endif %}

    {% assign current_variant = product.selected_or_first_available_variant %}
    <div class="grid product-single">
      <div class="grid__item large--one-half text-center {% if product.variants.size > 1 %}product-withvar{% else %}product-novar{% endif %}">
        <div class="product__slides product-single__photos" id="ProductPhoto">
          {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
          <div class="product__photo"  data-thumb="{{ featured_image.src | img_url: 'small' }}">
            <img src="{{ featured_image | img_url: 'large' }}" alt="{{ image.alt | escape }}" data-image-id="{{ featured_image.id }}" data-mfp-src="{{ featured_image | img_url: 'master' }}" class="productImg">
          </div>
          {% for image in product.images %}
            {% unless image contains featured_image %}
            <div class="product__photo{% unless forloop.first == true %} product__photo--additional{% endunless %}"  data-thumb="{{ image.src | img_url: 'small' }}">
              <img src="{{ image.src | img_url: '1024x1024' }}" alt="{{ image.alt | escape }}" data-image-id="{{ image.id }}" data-mfp-src="{{ featured_image | img_url: 'master' }}" class="productImg">
            </div>
            {% endunless %}
          {% endfor %}
        </div>
        <h3 class="hidden">{{product.title}}</h3>
        <div id="ProductThumbs" class="{% if settings.product_thumb_enable %} product__thumbs--square{% else %} product__thumbs--dot{% endif %}"></div>
      </div>
      <div class="grid__item large--one-half" id="productInfo">
        <div class="text-center">
          {% if settings.product_show_vendor and product.vendor %}
            <p class="uppercase vendor__link">{{ product.vendor | link_to_vendor }}</p>
          {% endif %}
          <h1 itemprop="name" class="h2">{{ product.title }}</h1>
           <h5 class="product__price uppercase h5{% if product.compare_at_price > product.price %} on-sale{% endif %}">
            {% if product.compare_at_price > product.price %}
              <p class="small compare-at em">
              <span class="money"><span id="ComparePrice">{{ product.compare_at_price_max | money }}</span></span>
              </p>
            {% endif %}
            <span class="money"><span id="ProductPrice">{{ product.price | money }}</span></span>

          </h5>

          {% comment %}
            If the product description is over 1000 characters or contains an embed code,
            place the description in a full width container below the image and cart button.
          {% endcomment %}

          {% assign description_position = settings.description_position %}

          {% if description_position == 'auto' %}
            {% if product.description.size > 1000 or product.description contains 'iframe' %}
              {% assign description_position = 'below' %}
              {% else %}
              {% assign description_position = 'sidebar' %}
            {% endif %}
          {% endif %}

          {% if description_position == 'sidebar' %}
          <div class="product-description rte" itemprop="description">
            {{ product.description }}
          </div>
          {% endif %}
        </div>

        <div id="productPageInfo" itemprop="offers" itemscope itemtype="http://schema.org/Offer">

          {% comment %}
            Get first variant, or deep linked one
          {% endcomment %}
          {% assign variant = product.selected_or_first_available_variant %}

          <meta itemprop="priceCurrency" content="{{ shop.currency }}">

          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

          <form action="{{ form_action }}" method="{{form_method}}" enctype="multipart/form-data" id="{{form_id}}" class="{{form_class}}">


            {% if include_customer_id %}
              <input type="hidden" name="customer_id" value="{{customer.id}}">
            {% endif %}


              {% assign search_option = "Size" %}

              {% assign delimiter = "|" %}
              {% assign option_index = "" %}
              {% assign option_value = "" %}
              {% assign option_array = "" %}
              {% assign option_available = "" %}
              {% assign option_unavailable = "" %}

              {% for option_title in product.options %}
                {% if option_title == search_option %}
                  {% assign option_index = forloop.index0 %}
                  {% break %}
                {% endif %}
              {% endfor %}

              {% for variant in product.variants %}
                {% case option_index %}
                {% when 0 %}
                  {% assign option_value = variant.option1 | append: delimiter %}
                {% when 1 %}
                  {% assign option_value = variant.option2 | append: delimiter %}
                {% when 2 %}
                  {% assign option_value = variant.option3 | append: delimiter %}
                {% endcase %}
                {% unless option_array contains option_value %}
                  {% assign option_array = option_array | append: option_value %}
                {% endunless %}

                {% if variant.available %}
                  {% unless option_available contains option_value %}
                    {% assign option_available = option_available | append: option_value %}
                  {% endunless %}
                {% endif %}
              {% endfor %}
              {% assign option_array = option_array | split: delimiter %}
              {% assign option_available = option_available | split: delimiter %}

              {% for option in option_array %}
                {% unless option_available contains option %}
                  {% assign option_value = option | append: delimiter %}
                  {% unless option_unavailable contains option_value %}
                    {% assign option_unavailable = option_unavailable | append: option_value %}
                  {% endunless %}
                {% endunless %}
              {% endfor %}
              {% assign option_unavailable = option_unavailable | split: delimiter %}

              {% if option_available.size > 0 %}
             <ul class="sizeAvail" style="display:none;">
                {% for value in option_available %}
                <li>{{ value }}</li>
                {% endfor %}
              </ul>
              {% endif %}

              {% if option_unavailable.size > 0 %}
             <ul class="sizesoldOut" style="display:none;">
                {% for value in option_unavailable %}

                <li class="sold-out"><s>{{ value }}</s></li>
                {% endfor %}
              </ul>
              {% endif %}

              {% assign search_option = "Color" %}

              {% assign delimiter = "|" %}
              {% assign option_index = "" %}
              {% assign option_value = "" %}
              {% assign option_array = "" %}
              {% assign option_available = "" %}
              {% assign option_unavailable = "" %}

              {% for option_title in product.options %}
                {% if option_title == search_option %}
                  {% assign option_index = forloop.index0 %}
                  {% break %}
                {% endif %}
              {% endfor %}

              {% for variant in product.variants %}
                {% case option_index %}
                {% when 0 %}
                  {% assign option_value = variant.option1 | append: delimiter %}
                {% when 1 %}
                  {% assign option_value = variant.option2 | append: delimiter %}
                {% when 2 %}
                  {% assign option_value = variant.option3 | append: delimiter %}
                {% endcase %}
                {% unless option_array contains option_value %}
                  {% assign option_array = option_array | append: option_value %}
                {% endunless %}

                {% if variant.available %}
                  {% unless option_available contains option_value %}
                    {% assign option_available = option_available | append: option_value %}
                  {% endunless %}
                {% endif %}
              {% endfor %}
              {% assign option_array = option_array | split: delimiter %}
              {% assign option_available = option_available | split: delimiter %}

              {% for option in option_array %}
                {% unless option_available contains option %}
                  {% assign option_value = option | append: delimiter %}
                  {% unless option_unavailable contains option_value %}
                    {% assign option_unavailable = option_unavailable | append: option_value %}
                  {% endunless %}
                {% endunless %}
              {% endfor %}
              {% assign option_unavailable = option_unavailable | split: delimiter %}

              {% if option_available.size > 0 %}
              <ul style="display:none;">
                {% for value in option_available %}
                <li>{{ value }}</li>
                {% endfor %}
              </ul>
              {% endif %}

              {% if option_unavailable.size > 0 %}
              <ul>
                {% for value in option_unavailable %}
                <li class="sold-out-color" style="display:none;"><s>{{ value }}</s></li>
                {% endfor %}
              </ul>
              {% endif %}

            <select name="id" id="productSelect" class="product-single__variants">
              {% for variant in product.variants %}
                {% if variant.available %}

                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }}</option>

                {% else %}

                  <option disabled="disabled" >
                    {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                  </option>
                {% endif %}
              {% endfor %}
            </select>
            {% if show_quantity %}
            <div class="quantity-selector__wrapper text-center">
              <label for="Quantity" class="quantity-selector uppercase">{{ 'products.product.quantity' | t }}</label>
              <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
            </div>
            {% endif %}
            <div class="add-to-cart__wrapper">
              <button type="submit" name="add" id="AddToCart" class="btn btn--large btn--full btn--clear uppercase">
                <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }} </span>
                <span class="unicode">&#x2022</span>
                <span class="add-to-cart__price money"><span id="ButtonPrice">{{ product.price | money }}</span></span>
              </button>

            </div>

          </form>

          <div class="share">
            <a id="shareProd" href="">
            <img src="https://cdn.shopify.com/s/files/1/1381/5403/files/AboutPage_GreenEnvelope_Icon_Revised-01_1.svg?11990518289004036267" alt="mail">
            <h4>Share with a friend</h4>
            </a>
          </div>
          <div id="notifyMe">Notify Me</div>
        </div>

        <div class="tab-contain">
          <ul class="tabs">
            <li class="active" rel="tab1">Material & Care</li>
            <li rel="tab2">Fit & Size</li>
            <li rel="tab3">Feedback</li>
          </ul>
          <div class="tab_container">
            <h3 class="d_active tab_drawer_heading" rel="tab1">Material & Care
              <span class="caret mobile">
                <span class="plus">+</span>
                <span class="minus">-</span>
              </span>
            </h3>
            <div id="tab1" class="tab_content material-tab">
            <p>
                Your perfect go to outfit for traveling! This 5-piece value set includes best selling Lunya pieces that are travel transitional and can be dressed up, down, worn as a coverup, on an airplane, and to bed. This comfy travel clothing set includes the Siro Joggers, Pima Muscle Tee, Pima Long Sleeve, Siro Bralette, Siro Sleep Brief, and comes packaged in a Lunya laundry bag.
                <ul>
                 <li>Great for long flights and sleeping on airplanes</li>
                 <li>Great for long flights and sleeping on airplanes</li>
                 <li>Great for long flights and sleeping on airplanes</li>
                 <li>Great for long flights and sleeping on airplanes</li>

                </ul>
              </p>
            </div>
            <!-- #tab1 -->
            <h3 class="tab_drawer_heading" rel="tab2">Fit & Size
               <span class="caret mobile">
                <span class="plus">+</span>
                <span class="minus">-</span>
              </span>
            </h3>
            <div id="tab2" class="tab_content">
            <p>
             To ensure proper fit, please refer to the fit guide below and if you have any questions, please email us at <a class="customerService" href="mailto:customerservice@les-gamins.com">customerservice@les-gamins.com</a> - we’d be happy to help you!
                <img src="https://cdn.shopify.com/s/files/1/1381/5403/files/New_SizeChart_Outlined-01.svg?9820155719888452087" alt="Size Chart">

                Measurements are in inches and refer to body size, not garment dimensions. Please note that fits may vary by style and personal preference.
              </p>
            </div>
            <!-- #tab2 -->
            <h3 class="tab_drawer_heading" rel="tab3">Feedback
               <span class="caret mobile">
                <span class="plus">+</span>
                <span class="minus">-</span>
              </span>
            </h3>
            <div id="tab3" class="tab_content">
              <p>
                  <div id="message">
                {% form 'contact' %}

                  {% comment %}
                    Successful message
                  {% endcomment %}


                  {{ form.errors | default_errors }}


                  <h3>NEED HELP WITH YOUR SIZE?</h3>
                  <h3 id="morepad"> HAVE A SUGGESTION OR FEEDBACK?</h3>

                  {% assign name_attr = 'contact.form.name' | t | handle %}
                  <label for="ContactFormName" class="label--hidden">{{ 'contact.form.name' | t }}</label>

                  <label for="ContactFormEmail" class="label--hidden">{{ 'contact.form.email' | t }}</label>
                  <input type="email" id="ContactFormEmail" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">


                  <label for="ContactFormMessage" class="label--hidden">{{ 'contact.form.message' | t }}</label>
                  <textarea rows="10" id="ContactFormMessage" name="contact[body]" placeholder="We're all ears...">{% if form.body %}{{ form.body }}{% endif %}</textarea>

                  <input type="submit" class="btn right contactbtn uppercase" value="{{ 'contact.form.send' | t }}">

                  {% if form.posted_successfully? %}
                    <script>



                      $('.contactbtn')[0].value = "sent";
                      $('#contact_form').addClass('sendSucess');

                    </script>
                  {% endif %}

                {% endform %}
              </div>



              </p>
            </div>
            <!-- #tab3 -->
            <!-- <h3 class="tab_drawer_heading" rel="tab4">Tab 4</h3>
            <div id="tab4" class="tab_content">

              <p>Integer ultrices lacus sit amet lorem viverra consequat. Vivamus lacinia interdum sapien non faucibus. Maecenas bibendum, lectus at ultrices viverra, elit magna egestas magna, a adipiscing mauris justo nec eros.</p>
            </div> -->
            <!-- #tab4 -->
          </div>
          <!-- .tab_container -->
          </div>
        </div>

        {% if settings.product_social_enable %}
          {% capture link %}{{ shop.url }}{{ product.url }}{% endcapture %}
          {% capture title %}{{ product.title | url_param_escape }}{% endcapture %}
          <div class="share text-center" data-permalink="{{ link }}">
            {% if settings.share_enable_facebook %}
              <a target="_blank" href="//www.facebook.com/sharer.php?u={{ link }}" class="share__link">
                <span class="icon icon-facebook" aria-hidden="true"></span>
                <span class="share__text">{{ 'general.share.facebook' | t }}</span>
              </a>
            {% endif %}
            {% if settings.share_enable_twitter %}
              <a target="_blank" href="//twitter.com/share?url={{ link }}&amp;text={{ shareTitle }}" class="share__link">
                <span class="icon icon-twitter" aria-hidden="true"></span>
                <span class="share__text">{{ 'general.share.twitter' | t }}</span>
              </a>
            {% endif %}
            {% if settings.share_enable_pinterest %}
              <a target="_blank" href="http://pinterest.com/pin/create/button/?url={{ link }}&amp;media={{ product.featured_image | product_img_url: '1024x1024' | prepend: 'http:' }}&amp;description={{ shareTitle }}" class="share__link">
                <span class="icon icon-pinterest" aria-hidden="true"></span>
                <span class="share__text">{{ 'general.share.pinterest' | t }}</span>
              </a>
            {% endif %}
            {% if settings.share_enable_google %}
              <a target="_blank" href="//plus.google.com/share?url={{ link }}" class="share__link">
                <span class="icon icon-google" aria-hidden="true"></span>
                <span class="share__text">{{ 'general.share.google' | t }}</span>
              </a>
            {% endif %}
          </div>
        {% endif %}

        {% comment %}
          If the user is on a collection product page (ie with /collections/collection-handle/products/product-handle)
          in the URL, we can show next/previous links to other products in the collection.
        {% endcomment %}
        {% if collection and settings.product_nav_enable %}
          {% if collection.previous_product or collection.next_product %}
            <p class="product__arrows">
            {% if collection.previous_product %}
              {% capture prev_url %}{{ collection.previous_product}}#content{% endcapture %}
              <span class="left">
                <a href="{{ prev_url }}" class="btn btn--clear btn--small uppercase" rel="prev">
                  {{ 'products.general.previous_product_html' | t }}
                </a>
              </span>
            {% endif %}

            {% if collection.next_product %}
              {% capture next_url %}{{ collection.next_product}}#content{% endcapture %}
              <span class="right">
                <a href="{{ next_url }}" class="btn btn--clear btn--small uppercase" rel="next">
                  {{ 'products.general.next_product_html' | t }}
                </a>
              </span>
            {% endif %}

            </p>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% if description_position == 'below' %}
<div class="wrapper">
  <div class="product-description--below rte" itemprop="description">
    {{ product.description }}
  </div>
</div>
{% endif %}


<div class="wrapper">
  <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
</div>


{% if settings.related_products_enable %}
  {% include 'product-related-items' %}
{% endif %}

{% comment %}
  To take advantage of a callback on the select dropdown, add option_selection.js
  and customize the JS in timber.productPage as needed.

  Currently, timber.productPage does the following:
    - Hides your <select> tag from above
    - Breaks out the product variants into separate product options, if more than one exists
    - Generates a <select> tag for each product option
    - Enables/disables elements based on variant availability

  Callback notes:
    - Keep the callback available to the global scope (window.selectCallback) so that advanced
      addons can override it.
      * E.g. multiple currencies http://docs.shopify.com/manual/configuration/store-customization/currencies-and-translations/currencies/how-to-toggle-between-two-currencies
{% endcomment %}
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
 {% include "outofstock-popup" %}
<script>
  jQuery(function($) {

    {% if settings.product_thumb_enable %}
      $('.product__slides').slick({
        adaptiveHeight: false,
        dots: true,
        appendDots: $('#ProductThumbs'),
        customPaging: function(slider, i) {
            console.log($(slider.$slides[i]).find('img').attr('alt'));
            var alt = $(slider.$slides[i]).find('img').attr('alt');
            var thumb = $(slider.$slides[i]).data('thumb');
            return '<img src="'+thumb+'" alt="'+alt+'">';
        }
      });
    {% else %}
      $('.product__slides').slick({
        adaptiveHeight: false,
        dots: true,
        appendDots: $('#ProductThumbs')
      });
    {% endif %}

    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });



    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% endif %}
  });

 // tabbed content
    // http://www.entheosweb.com/tutorials/css/tabs.asp
    $(".tab_content").hide();
    $(".tab_content:first").show();


  /* if in tab mode */
    $("ul.tabs li").click(function() {

      $(".tab_content").hide();
      var activeTab = $(this).attr("rel");
      $("#"+activeTab).fadeIn();

      $("ul.tabs li").removeClass("active");
      $(this).addClass("active");

    $(".tab_drawer_heading").removeClass("d_active");
    $(".tab_drawer_heading[rel^='"+activeTab+"']").addClass("d_active");

    });
  /* if in drawer mode */
  $(".tab_drawer_heading").click(function() {

      if ($(this).hasClass('d_active')) {
        $(".tab_drawer_heading").removeClass("d_active");
        $(".tab_content").hide();
      } else {
         $(".tab_content").hide();

        var d_activeTab = $(this).attr("rel");
        $("#"+d_activeTab).fadeIn();

        $(".tab_drawer_heading").removeClass("d_active");
        $(this).addClass("d_active");

        $("ul.tabs li").removeClass("active");
        $("ul.tabs li[rel^='"+d_activeTab+"']").addClass("active");
      }


    });


   $(window).resize(function() {
    if ($(window).width() < 960) {
      $(".tab_content").hide();
       $(".tab_drawer_heading").removeClass("d_active");
    }
     else {
       $(".tab_content:first").show();
     }
  });


  /* Extra class "tab_last"
     to add border to right side
     of last tab */
  $('ul.tabs li').last().addClass("tab_last");

//Create URL shares for the email sharing buttons
var url  = window.location.href;
$('.customerService').attr('href','mailto:?subject=Customer Service for les Gamies&body=Hey There, I was looking for this product  '+url +' and need a little help...');

(function(){
      var url  = window.location.href;
      var newShare = $('.share a').attr('href');
      $('#shareProd').attr('href','mailto:?subject=I want to share this Les Gamins Website with you!&body=Hey, I found this great product on Les Gamins and thought you might like it:  '+url +'. I hope you enjoy it!');
  })();


//Create an array out of all of the sold out sizes
var sizeArray = [];
$('.sold-out s').each(function() {
    sizeArray.push($(this)[0].innerHTML);
});

//Create an array out of all of the sold out colors
var colorArray = [];
$('.sold-out-color s').each(function() {
    colorArray.push($(this)[0].innerHTML);
});


// When the document has loaded - run through and match items that are OOS and add a strike through them
$(document).on('ready',function(){
   $(document).on('click',function(e){
     if ($(e.target).hasClass('nice-select')) {

     } else {
       $('.nice-select').removeClass('open');
     }
    });
  $('.nice-select').eq(0).addClass('color-drop');
   $('.nice-select').eq(1).addClass('size-drop');
  $('.list .option').each(function(){
    var theOptionVal = $(this)[0].innerHTML;
    for (var i = 0; i < sizeArray.length; i++) {
        if (theOptionVal === sizeArray[i]) {
           // $(this).addClass('strike');
        }
    };
     for (var i = 0; i < colorArray.length; i++) {
        if (theOptionVal === colorArray[i]) {
           // $(this).addClass('strike');
        }
    };
  });


  $('.size-drop .list li').each(function(){
    var sizeNewClass = $(this).attr('data-value');
    $(this).addClass(sizeNewClass);
  });

   $('.nice-select').each(function(){
   function toTitleCase(str) {
       return str.replace(/(?:^|\s)\w/g, function(match) {
           return match.toUpperCase();
       });
   }

    var currentVal = $(this).find('.current')[0].innerHTML;
    var currentValLow = currentVal.toLowerCase();
    var currentValTitle = toTitleCase(currentVal);
    var currentValCap = currentVal.toUpperCase();

    $(this).find('li').each(function(){
      if ($(this).attr('data-value')===currentValLow || $(this).attr('data-value')===currentValTitle || $(this).attr('data-value')===currentValCap ) {
        $(this).hide();
      }
    });

  });


});

var $theMaterialContent = $('.product-description blockquote')[0].innerHTML;
$('.material-tab')[0].innerHTML = $theMaterialContent;



</script>
