{% unless grid_width_large %}
  {% assign grid_width_large = 'large--one-quarter' %}
{% endunless %}
{% unless grid_width_medium %}
  {% assign grid_width_medium = 'medium--one-third' %}
{% endunless %}
{% unless grid_width_small %}
  {% assign grid_width_small = 'small--one-half' %}
{% endunless %}

{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available  %}
  {% assign sold_out = false %}
{% endif %}


<div class="grid__item {{ grid_width_small }} {{ grid_width_medium }} {{ grid_width_large }}{% if on_sale %} on-sale{% endif %}  {% if sold_out %} sold-out {% endif %} product-grid-item">
  <a href="{{ variant.url | within: collection }}" class="grid__image">
    <img src="{{ variant.image.src | img_url: 'large' }}" alt="{{ variant.image.alt | escape }}"></a>
  <div class="figcaption {{ settings.product_grid_style }}">
    <a href="{{ product.url | within: collection | capitalize }}">

        {% if sold_out %}
            <span id="outofstock" class="desktop">Out Of Stock</span>
            <p class="h6 name_wrapper strikethrough">
                {{product.title}}  <small>{{ variant.option1 }}</small>
            </p>
            <p class="price_wrapper ">
              <span class="compare-at strikethrough">
                <span class="money">{{ product.compare_at_price | money }}</span>
              </span>
                <span class="price sale-price">
                  <span class="money">{{ product.price | money }}</span>
                </span>
               <span id="outofstockmobile" class="mobile">Out Of Stock</span>
              <br />
          {% elsif on_sale%}
          <p class="h6 name_wrapper ">
            {{product.title}}  <small>{{ variant.option1 }}</small>
          </p>
               <p class="price_wrapper ">
                <span class="compare-at">
                <span class="money">{{ product.compare_at_price | money }}</span>
              </span>
                <span class="price sale-price">
                  <span class="money">{{ product.price | money }}</span>
                </span>

              </p>

          {% else %}
          <p class="h6 name_wrapper ">
              {{product.title}}  <small>{{ variant.option1 }}</small>
          </p>
          <p class="price_wrapper ">
            <span class="price">
              <span class="money">{{ product.price | money }}</span>
            </span>
         </p>
        {% endif %}
        {% if on_sale %}

        {% endif %}
        {% if product.metafields.spr.reviews %}
          <br />
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        {% endif %}

    </a>

     {% if sold_out %}
      <div class="notify">Notify Me</div>
      <div class="theVars">
        <span class="theProdId">
          {{product.id}}
        </span>
        <span class="variantId">
          {{product.variants.first.id}}
        </span>
      </div>
      {% endif %}
  </div> <!-- end fig cap -->

  <div class="hoverCaption">
    <div class="hoverCapinner">

      <form action="/cart/add" method="post" {% if product.variants.size == 1 %}class="single-variant-form"{% endif %}>
          {% if product.variants.size > 1 %}
            {% if product.options[0] %}
              {% assign used = '' %}
              <label for="select-one">{{ product.options[0] }}</label>
              <select id='select-one' class="size size-select" >
                <option> color</option>
                {% for variant in product.variants %}
                  {% unless used contains variant.option1 %}
                    <option value="{{ variant.option1 }}">{{ variant.option1 }}

                    </option>
                    {% capture used %}{{ used }} {{ variant.option1 }}{% endcapture %}
                  {% endunless %}
                {% endfor %}
              </select>
            {% endif %}
            {% if product.options[1] %}
              {% assign used = '' %}
              <label for="select-one">{{ product.options[1] }}</label>
              <select id='select-two' class="color color-select" >
                 <option> Size</option>
                {% for variant in product.variants %}
                  {% unless used contains variant.option2 %}
                    <option value="{{ variant.option2 }}">{{ variant.option2 }}</option>

                    {% capture used %}{{ used }} {{ variant.option2 }}{% endcapture %}
                  {% endunless %}
                {% endfor %}
              </select>
            {% endif %}

            <select name="id" id="productSelect" class="product-single__variants">
              {% for variant in product.variants %}
                {% if variant.available %}

                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }}</option>

                {% else %}
                  <option disabled="disabled" value="{{ variant.id }}">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                {% endif %}
              {% endfor %}
            </select>

          {% endif %}
          <input type="hidden"name="id" id="product-select" value="{{ product.variants.first.id }}" />


        </form>

      {% for variant in product.variants limit:1%}


                {% if variant.available %}
                <button class="AjaxCart" >Add To Cart</button>

                {% else %}
                  <button class="AjaxCart" >Add To Cart</button>
                {% endif %}
         {% endfor %}



      <div class="theProduct">

         {% for variant in product.variants limit:1%}


                {% if variant.available %}
                  {{ variant.id }}

                {% else %}

                {% endif %}
         {% endfor %}

      </div>
    </div>
  </div>
</div><!-- end grid item cap -->
