<!-- /templates/page.liquid -->
<style>

@font-face {
    font-family: 'Nobel';
    src: url(https://cdn.shopify.com/s/files/1/1381/5403/files/nobel-b.otf?403893648269150602);
}

@font-face {
    font-family: 'Nobel-Light';
    src: url(https://cdn.shopify.com/s/files/1/1381/5403/files/nobel-extralight.otf?403893648269150602);
}


@font-face {
    font-family:'Victoria Script';
    src: url(https://cdn.shopify.com/s/files/1/1381/5403/files/victoria.otf?17784438347045976595);
}
body:not(.template-index) {
    background-color: #202945;
}
.info-bar, .site-header {
    display:none;
}
label, legend {
    display: block;
    margin-bottom: 2px;
    font-weight: 600;
    font-family: Nobel-Light;
    letter-spacing: .75px;
}

h1,h2,h3,h4,button,footer {
    font-family:  Nobel, helvetica, sans-serif;
}

h1,h2,h3,h4,button {
    text-transform: uppercase;
}
html {
  overflow: hidden;
        height: 100vh;
    background-color: #202945;
}
.ajaxcart__overlay {
    display: none !important;
}
.site-footer-wrapper {
  display: none;
}

.main-content {
    display: block;
    padding-bottom: 0px;
}

h1, .h1, .h1--body, h2, .h2, .h2--body, h3, .h3, .h3--body, .sky-pilot-access-denied h5, .sky-pilot-access-denied .h5, .sky-pilot-access-denied .h5--body, h4, .h4, .h4--body, h5, .h5, .h5--body, h6, .h6, .h6--body {

    margin: 0 0 0;
    line-height: initial;
}

/* Coming Soon */

#banner {
   text-align: center;
    color: white;
    padding: 1rem;
    background-color: #c7b8ac;
    font-size: .55rem;
    letter-spacing: .30rem;
    font-weight: 400;
        text-indent: .30rem;
}

hr {
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: hidden;
    border-width: 0px;
    height: .65rem;
    background-color: white;
    margin:0px;
}

header {
    height: 41.5vh;
    background-color: #92aca0;
    text-align: center;
    padding-top:15vh;
    color:white;
}

header img {
      max-width: 436px;
}

header h1 {
       font-family: Nobel-light;
    font-weight: 100;
    font-size: 2.5rem;
    letter-spacing: 1.5rem;
}

header h2 {
    margin: 1rem auto;
    letter-spacing: .55rem;
    font-size: .75rem;
}

section {
    background-color: #202945;
    text-align: center;
    color: white;
    padding: 1em;
    height: 36.2vh;
}

section p {
      font-family: "Victoria Script", Times, serif;
    display: block;
        margin: 1rem auto 1.25rem;
    font-size: 1.5rem;
    line-height: initial;
}

section h3 {
       display: block;
    margin: 1.5rem auto;
    letter-spacing: .55rem;
    font-size: 1rem;
    font-weight: 600;
    font-family: Nobel;
}

section button {
       border-radius: 2px;
    padding: .55rem 1.25rem;
    letter-spacing: .30rem;
    border-color: white;
    background-color: white;
    border-style: hidden;
    cursor: pointer;
    transition: .5s;
    -webkit-transition: .5s;
    font-size: .75rem;
        text-indent: .30rem;
}

footer {
    font-family: Nobel;
    font-weight: 600;
    background-color: #202945;
    text-align: left;
    color: white;
    padding: 3rem 2rem .5rem;
    font-size: .45rem;
    letter-spacing: .20em;
        position: absolute;
    bottom: 1rem;
    left:0;
    right:0;
   
}

footer ul {
    margin-left: 1rem;
}

footer ul,p {
    display: inline-block;
}

footer ul li {
    display: inline-block;
}


footer a {
    color:white;
    text-decoration: none;
}

/* Sign Up Pop Up Styles */

#signup {
    padding: 0em;
    background-color: #c7b8ac;
    height: 100vh;
}
#overlay {
    display: none;
    position: absolute;
    top:0;
    width: 100vw;
}

#banner-signup h4 {
    text-align: center;
    color: white;
    padding: 1rem;
    background-color: #92aca0;
    font-size: .55rem;
    letter-spacing: .30rem;
    font-weight: 400;
    font-family: Nobel !important;
            font-size: .60rem;
    font-weight: 600;
    letter-spacing: .25rem;
}

#close {
        color: #202945;
    float: right;
    padding: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    top: 60px;
    position: absolute;
    right: 30px;
    font-family: Nobel;


}

:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

.newsletter {
    height: 90vh;
    display: table-cell;
    vertical-align: middle;
    width: 100vw;
}

.sub-mine, .sub-sub {
   color: #202945;
   font-family: Nobel;
   font-weight: 100;
}

.sub-mine {
        font-size: .75rem;
    font-family: Nobel-Light;
    font-weight: 600;
    letter-spacing: 2px;
}
.sub-sub {
     font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .15rem;
    font-size: .60rem;
    margin-bottom: 42px;
}

.newsletter h4 {
    font-size: .75rem;
}

/*email form*/

#email-submission {
    max-width: 450px;
    width: 90%;
    margin: 0 auto;

}

.two_col {
       width: 49.5%;
    display: inline-block;
    text-align: left;
}

.two_col {
    color: #202945;
}

.two_col input{
    display: block;
     width: 100%;
    margin-bottom: 12px;
    background-color: white;
}

#email-submission #email{
     display: block;
     width: 100%;
}

#email-submission h5 {
    text-align: left;
    margin: 12px 0px;
    color: #202945;
        font-weight: 600;
}
.formTitle {
    text-transform: uppercase;
    font-family: Nobel;
    letter-spacing: .25rem;
    font-size: .65rem;
}
input[type="submit" i] {
    color:white;
    border-radius: 2px;
    padding: .75rem 2rem;
    letter-spacing: .30rem;
    border-color: #202945;
     background-color: #202945;
    border-style: hidden;
    cursor: pointer;
    transition: .5s;
    -webkit-transition: .5s;
    margin: 1.5rem auto;
    text-transform: uppercase;

}

#email-submission button {
    color:white;
    border-radius: 2px;
    padding: .75rem 2rem;
    letter-spacing: .30rem;
    border-color: #202945;
     background-color: #202945;
    border-style: hidden;
    cursor: pointer;
    transition: .5s;
    -webkit-transition: .5s;
    margin: 1.5rem auto;
    text-transform: uppercase;
        text-indent: .30rem;

}



.two_col input {
    display: block;
    width: 100%;
    margin-bottom: 6px;
    /* margin-right: 12px; */
    font-size: 14px;
    padding: .5em;
    border-style: none;
        border: 1px solid transparent;
          font-family: Nobel;

}

.email-input input {
    display: block;
    margin-bottom: 12px;
    /* margin-right: 12px; */
    font-size: 14px;
    padding: .5em;
    border-style: none;
    background-color: white;
    font-family: Nobel;
        border: 1px solid transparent;
}

.thank-you-h4 {
    letter-spacing: .25rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.thank-you-h5 {
    letter-spacing: .25rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
    color: #202945;
     font-family: Nobel;
    font-size: 11px;
}

small {
    color: white;
    opacity: 0;
    font-family: Nobel;
}

.warning {
    opacity: 1;
}

#social-icons img {
      max-width: 25px;
    margin-top: -10px;
}

ul {
    margin: 0px;
    margin-bottom: 12px;
}
footer ul, p {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0px;

}
h4, .h4, .h4--body {
       font-size: .60rem;
    font-weight: 600;
    letter-spacing: .25rem;
}

#lesgaminsfooter {
    text-transform: uppercase;
}

#email-submission label[for] {
    cursor: default;
}

.password-login {
    position: absolute;
    right: 30px;
    padding-top: 2px;
}


.password-login a:hover {
    color: white;
}
/* Mobile Styles */
@media screen and (max-width: 773px) {

    .password-login {display: block;}

    header img {
        max-width: 300px;
        width: 90%;
    }
}
@media screen and (max-width: 768px) {
.main-content {
    padding: 0 !important;
}
html {
    overflow: hidden;
}
    body {
        font-size: 12px;
   
    }

    header h1 {
        font-size: 2rem;
        letter-spacing: 1rem;
    }

    footer {
        text-align: center;
         position: relative;
    }

    section {

        min-height: 36.2vh;
    }

    header {
            height: 33.5vh;
             padding-top: 12vh;

    }

    section h3 {
        display: block;
        margin: 1.5rem auto;
        letter-spacing: 4px;
        font-size: 11px;
        font-weight: 600;
        font-family: Nobel;
    }

    section p {
        font-family: "Victoria Script", Times, serif;
        display: block;
        margin: 1rem auto;
        font-size: 18px;
    }
    footer {
        font-family: Nobel;
        font-weight: 600;
        background-color: #202945;
        text-align: center;
        color: white;
            margin-top: -1px;
    }
    #social-icons {
        display: block;
        margin-left: 0px;
    }

    #social-icons img {
          max-width: 25px;
        margin-top: 1rem;
    }

    .two_col {
        width: 49%;
        display: inline-block;
        text-align: left;
    }

    #signup p {
        margin: .5rem auto;
    }

    #email-submission button {
        margin: 0 auto;
    }


    .newsletter {
        height: auto;
        /* display: table-cell; */
        vertical-align: middle;
        width: 98vw;
        margin: 0 auto;
        padding: 0em 1em;
        /* text-align: center; */
        top: 50%;
        position: absolute;
        transform: translateY(-30%);
    }

    .thank-you-note  {
        position: relative;
        top: 20%;
    }

    #overlay {
            height: 100vh;
           
    }

    #signup {
        position: relative;
    }

     .newsletter {
        height: auto;
        /* display: table-cell; */
        vertical-align: middle;
        width: 98vw;
        margin: 0 auto;
        padding: 0em 1em;
        /* text-align: center; */
        top: 50%;
        position: absolute;
        transform: translateY(-50%);
    }

    #email-submission {
            margin-top: 2rem;
    }

   


}

@media screen and (max-width:320px) {

    html {
        overflow: hidden;
    }

    .main-content {
    padding: 0px 0px !important;
}
    footer {
            font-family: Nobel;
        font-weight: 600;
        background-color: #202945;
        text-align: center;
        color: white;
        padding: 2rem 0em 0em;
        font-size: .65rem;
        letter-spacing: 0rem;
    }

    #signup {

        height: 104vh;
    }



    .newsletter {
        height: auto;
        /* display: table-cell; */
        vertical-align: middle;
        width: 98vw;
        margin: 0 auto;
        padding: 0em 1em;
        /* text-align: center; */
        top: 50%;
        position: absolute;
        transform: translateY(-50%);
    }
    h4, .h4, .h4--body {
        font-size: .60rem;
        font-weight: 600;
        letter-spacing: .095rem;
    }
    #close {
        color: #202945;
        float: right;
        padding: .5rem 0rem;
        font-size: 1.2rem;
        cursor: pointer;
        top: 10vh;
        position: absolute;
        right: 30px;
        font-family: Nobel;
    }

    #signup {
        position: relative;
    }

    #fn_warn, #ln_warn {
        display: none;
    }

    .thank-you-h4 {
        letter-spacing: .25rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
    section button {
            display: block !important;
    margin: 0 auto;
    }
}

@media only screen and (device-width: 768px) {
    .main-content {
    padding: 0px 0px;
}
 section button {
            display: block !important;
    margin: 0 auto;
    }

  /* For general iPad layouts */
  footer {
            font-family: Nobel;
        font-weight: 600;
        background-color: #202945;
        text-align: center;
        color: white;
        padding: 8rem 0em 4em;
        font-size: .65rem;
        letter-spacing: 0rem;
    }
}
/* Landscape */
@media only screen  and (min-device-width: 320px) and (max-device-width: 568px)and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {


    header img {
        width: 250px;
        width: 40%;
    }

    .newsletter {
        height: auto;
        /* display: table-cell; */
        vertical-align: middle;
        width: 98vw;
        margin: 0 auto;
        padding: 0em 1em;
        /* text-align: center; */
        top: 55%;
        position: absolute;
        transform: translateY(-50%);
    }

    #signup {
        padding: 0em;
        background-color: #c7b8ac;
        height: 160vh;
    }

    #close {
        color: #202945;
        float: right;
        padding: 1rem;
        font-size: 1.2rem;
        cursor: pointer;
        top: 50px;
        position: absolute;
        right: 30px;
        font-family: Nobel;
    }

}
@media only screen and (min-device-width: 375px)  and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) { 


    header img {
        width: 250px;
        width: 40%;
    }

    .newsletter {
        height: auto;
        /* display: table-cell; */
        vertical-align: middle;
        width: 98vw;
        margin: 0 auto;
        padding: 0em 1em;
        /* text-align: center; */
        top: 55%;
        position: absolute;
        transform: translateY(-50%);
    }

    #signup {
        padding: 0em;
        background-color: #c7b8ac;
        height: 160vh;
    }

    #close {
        color: #202945;
        float: right;
        padding: 1rem;
        font-size: 1.2rem;
        cursor: pointer;
        top: 50px;
        position: absolute;
        right: 30px;
        font-family: Nobel;
    }


}

@media only screen and (min-device-width : 414px) and (max-device-width : 736px) {
    h4, .h4, .h4--body {
        font-size: .60rem;
        font-weight: 600;
        letter-spacing: .15rem;
    }
}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) { 
    h4, .h4, .h4--body {
        font-size: .60rem;
        font-weight: 600;
        letter-spacing: .15rem;
    }
}

@media screen and (min-height:700px) {
    header {
                padding-top: 22vh;
    }
}

@media screen and (min-width:1400px) {
    footer {

        font-size: .65rem;
    }
    #social-icons img {
          max-width: 30px;
              margin-top: -11px;
       
    }

}
 
.header__wrapper {
    display: none !important;
}

#email-capture {
        display: none !important;
}

.ajaxcart--modal {
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0 !important;
    max-height: none;
    max-width: none;
    display: none !important;
}
</style>
<div class="coming-soon">

  <div id="wrapper">
    <div id="banner">
      <h4>Clothes Made For Play. Coming Soon!</h4>
    </div>
    <hr id="white-line">
    <header>
            <img src="https://cdn.shopify.com/s/files/1/1381/5403/files/LesGamins_LandingPage_Logo-01.png?15926074018397709641" alt="Les Gamins Made For Play">
      <!-- <h1>Les Gamins</h1>
      <h2>Made For Play</h2> -->
    </header>
    <section>
      <h3>Launching Spring 2017</h3>
      <p>let's be in touch!</p>
      <button onclick="openModal()">Join the adventure</button>
      <p>xo</p>

       
    </section>
    <footer>
      <p>
        <span id="lesgaminsfooter">Les Gamins</span> &#149; Made For Play. | &copy; Les Gamins Inc.
        <ul id="social-icons">
          <li>
            <a target="_blank" href="https://www.instagram.com/lesgaminsnyc/">
                            <img src="https://cdn.shopify.com/s/files/1/1381/5403/files/instagram_one.png?388659192314098539" alt="instagram">
                            
                        </a>
          </li>
          <li>
            <a target="_blank" href="https://www.facebook.com/lesgaminsnyc/">
                               <img src="https://cdn.shopify.com/s/files/1/1381/5403/files/facebook_one.png?388659192314098539" alt="facebook">
                        </a>
          </li>
          <li>
            <a  href="mailto:hello@les-gamins.com">
                               <img src="https://cdn.shopify.com/s/files/1/1381/5403/files/email_one.png?388659192314098539" alt="mail">
                        </a>
          </li>
        </ul>
        <p class="password-login uppercase ">
           
           
            <a href="#LoginModal" class="js-toggle-login-modal" data-mfp-src="#LoginModal">
                Login
              {{ 'general.password_page.password_link' | t }}
            </a>
          </p>
      </p>
    </footer>
    <div id="overlay">
      <section id="signup">
        <span id="banner-signup">
          <h4>Launching Spring 2017</h4>
        </span>
        <hr>
                <span id="close" onclick="closeModal()">x</span>
        <div class="newsletter" id="whole-newsletter">
                    
          <h4>For Your Little Ones. Every Day.</h4>
          <p class="sub-mine">
            Be the first to know about our launch. Sign Up for your early access invite.
          </p>
          <p class="sub-sub">
            We can't wait to meet you!
          </p>


          <div id="email-submission">
            <div class="clear">
              <h5 class="formTitle">Name</h5>
              <div class="two_col">
                <input type="text" id="firstname" required>
                <label for="name">first name</label>
                                <small id="fn_warn">Please fill in your first name.</small>
              </div>
              <div class="two_col">
                <input type="text" id="lastname" required>
                <label for="name">last name</label>
                                <small id="ln_warn">Please fill in your last name.</small>
              </div>
            </div>
            <div class="clear email-input">
              <h5><label class="formTitle" for="email">Email</label></h5>
              <input required type="email" id="email"
              placeholder="Don't worry, we won't share it with anyone!" value="">
                            <small id="email_warn">Please fill in your email.</small>
            </div>
            <!-- <input type="submit" value="Count me in!" onclick="changeText()"> -->
            <button  onclick="changeText()">
              Count me in!
            </button>
          </div>

        </div>

      </section>
    </div>
  </div>

  
    </div>

    <div id="LoginModal" class="password__login-form text-center mfp-hide">
      <p class="h4 title">{{ 'general.password_page.login_form_heading' | t }}</p>
      {% form 'storefront_password' %}
      {{ form.errors | default_errors }}
      <label for="password" class="hidden-label">{{ 'general.password_page.login_form_password_label' | t }}</label>
      <div class="input-group newsletter-form">
        <input type="password" name="password" id="password" class="input-group-field" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}" autofocus>
        <span class="input-group-btn">
          <button type="submit" name="commit" class="btn uppercase">
            <span>{{ 'general.password_page.login_form_submit' | t }}</span>
          </button>
        </span>
      </div>
      {% endform %}
      <p class="admin-login">{{ 'general.password_page.admin_link_html' | t }}</p>
    </div>

    {{ 'magnific-popup.min.js' | asset_url | script_tag }}
 
   
<script src="https://www.gstatic.com/firebasejs/3.6.3/firebase.js"></script>

  <script>


    function openModal() {
      $('#overlay').fadeToggle(100);
    }

    function closeModal() {
      $('#overlay').fadeToggle(100);
    }

    var config = {
            apiKey: "AIzaSyAOmLt_BhW1r17k7yLaIfnKSm8EMDEyPSk",
            authDomain: "les-gamins-custom-backend.firebaseapp.com",
            databaseURL: "https://les-gamins-custom-backend.firebaseio.com",
            storageBucket: "les-gamins-custom-backend.appspot.com",
            messagingSenderId: "833073948147"
          };
    firebase.initializeApp(config);
          // Get a reference to the database service
        var database = firebase.database();

    function changeText(writeUserData) {
                 // Initialize Firebase
          
        function writeUserData(userId, firstname, lastname, email) {
          firebase.database().ref().child(userId).set({
            firstname: firstname,
            lastname: lastname,
            email : email
          });
        }
                var userId = document.getElementById("firstname").value;
                var firstName = document.getElementById("firstname").value;
                var lastName = document.getElementById("lastname").value;
                var email = document.getElementById("email").value;

                var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

             if(email === "" ) {
                $('#email_warn').html("Please fill in your email.");
                $('#email_warn').addClass('warning');
                return;
            }  else if (re.test(email) === false) {
                  $('#email_warn').html("Please enter a correct email.");
                $('#email_warn').addClass('warning');
                     return;
             }else {
                 document.getElementById("whole-newsletter").innerHTML = "<h4 class='thank-you-h4'>Thank you for signing up.</h4><h5 class='thank-you-h5'> WE'LL BE IN TOUCH SOON </h5>";
                    writeUserData(userId,firstName,lastName,email);
            }
            
   
        }

    $(function() {
      $('.js-toggle-login-modal').magnificPopup({
        type: 'inline',
        mainClass: 'mfp-fade',
        closeOnBgClick: false,
        closeBtnInside: false,
        closeOnContentClick: false,
        tClose: 'x',
        removalDelay: 500,
        callbacks: {
          open: function() {
            window.setTimeout( function() { document.getElementById('password').focus(); }, 50 );
          },
          close: function() {
            window.setTimeout( function() { document.getElementById('email').focus(); }, 50 );
          }
        }
      });
      if ( $('.storefront-password-form .errors').size() ) {
        $('.js-toggle-login-modal').click();
      }
    });

  </script>
</div>
